[mdns] Known-Answer Suppression function not applied in case of ongoing TREL query (browse)

**Describe the bug** A clear and concise description of what the bug is.

OT implements the Known-Answer Suppression from RFC 6762 Section 7.1.
However, for the ongoing query (browse) for PTR _trel._udp.local  TREL services, this function doesn't seem to work in practice: the OTBR only sends out the query without including its own TREL service (which it always has in case of TREL querying) in the Answer section as a known answer.

This results in a doubling of the number of mDNS messages. On Wi-Fi for example, this is a significant extra load.

**To Reproduce** Information to reproduce the behavior, including:
Tested on an OTBR reference release `OPENTHREAD/27932f200; POSIX;`


**Expected behavior** A clear and concise description of what you expected to happen.

OTBR when sending a _trel._udp.local query includes the known own TREL service also in the Answer section (PTR record only).
Then it doesn't respond to this query itself (due to the known-answer being included).

**Console/log output** If applicable, add console/log output to help explain your problem.

**Additional context** Add any other context about the problem here.


@EskoDijk  I did a quick check and I see no issue. **Known-answer suppression seems to be working fine.**

Here are the annotated sample of logs (I used the Verbose Logging feature on OT mDNS, which logs all received/sent mDNS messages).

1) Starting a browser for the TREL service:


```
00:00:00.088 000 [-] MulticastDns--: Sending multicast query message len:34
00:00:00.088 000 [-] MulticastDns--: - Query id:0 qt:0 t:0 rcode:0 [q:1 ans:0 auth:0 addn:0]
00:00:00.088 000 [-] MulticastDns--: - Question
00:00:00.088 000 [-] MulticastDns--:     _trel._udp.local.
00:00:00.088 000 [-] MulticastDns--:       PTR QM class:1
```

2) The TREL service is registered on the device, sending probes:


```
00:00:00.174 000 [-] MulticastDns--: Sending multicast probe message len:367
00:00:00.174 000 [-] MulticastDns--: - Query id:0 qt:0 t:0 rcode:0 [q:3 ans:0 auth:5 addn:0]
00:00:00.174 000 [-] MulticastDns--: - Question
00:00:00.174 000 [-] MulticastDns--:     otaad27e30eb186cb5.local.
00:00:00.174 000 [-] MulticastDns--:       ANY QU class:1
00:00:00.174 000 [-] MulticastDns--:     otTRELaad27e30eb186cb5._trel._udp.local.
00:00:00.174 000 [-] MulticastDns--:       ANY QU class:1
00:00:00.174 000 [-] MulticastDns--:     OpenThread BR (unspecified vendor) aad27e30eb186cb5._meshcop._udp.local.
00:00:00.174 000 [-] MulticastDns--:       ANY QU class:1
00:00:00.174 000 [-] MulticastDns--: - Authority
00:00:00.174 000 [-] MulticastDns--:     AAAA cls:1 ttl:120 data-len:16
00:00:00.174 000 [-] MulticastDns--:       otaad27e30eb186cb5.local.
00:00:00.174 000 [-] MulticastDns--:       fe80:0:0:0:10fb:fbfb:fbfb:fb4c
00:00:00.174 000 [-] MulticastDns--:     SRV cls:1 ttl:4500 data-len:8
00:00:00.174 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.
00:00:00.174 000 [-] MulticastDns--:       port:49152 w:0 prio:0
00:00:00.174 000 [-] MulticastDns--:       host:otaad27e30eb186cb5.local.
...
```

3) We see this is followed by two other probes and then the Announce message. Sending Announce post-probes:

```
00:00:00.924 000 [-] MulticastDns--: Sending multicast response message len:490
00:00:00.924 000 [-] MulticastDns--: - Response id:0 qt:0 t:0 rcode:0 [q:0 ans:9 auth:0 addn:3]
00:00:00.924 000 [-] MulticastDns--: - Answer
00:00:00.924 000 [-] MulticastDns--:     AAAA cache-flush cls:1 ttl:120 data-len:16
00:00:00.924 000 [-] MulticastDns--:       otaad27e30eb186cb5.local.
00:00:00.924 000 [-] MulticastDns--:       fe80:0:0:0:10fb:fbfb:fbfb:fb4c
00:00:00.924 000 [-] MulticastDns--:     PTR cls:1 ttl:4500 data-len:25
00:00:00.924 000 [-] MulticastDns--:       _trel._udp.local.
00:00:00.924 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.
00:00:00.924 000 [-] MulticastDns--:     SRV cache-flush cls:1 ttl:4500 data-len:8
00:00:00.924 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.
00:00:00.924 000 [-] MulticastDns--:       port:49152 w:0 prio:0
00:00:00.924 000 [-] MulticastDns--:       host:otaad27e30eb186cb5.local.
...
```


4) Here are the browser PTR queries after this, **which all include this as a "known-answer"**:

```
00:00:01.089 000 [-] MulticastDns--: Sending multicast query message len:71
00:00:01.089 000 [-] MulticastDns--: - Query id:0 qt:0 t:0 rcode:0 [q:1 ans:1 auth:0 addn:0]
00:00:01.089 000 [-] MulticastDns--: - Question
00:00:01.089 000 [-] MulticastDns--:     _trel._udp.local.
00:00:01.089 000 [-] MulticastDns--:       PTR QM class:1
00:00:01.089 000 [-] MulticastDns--: - Answer
00:00:01.089 000 [-] MulticastDns--:     PTR cls:1 ttl:4499 data-len:25
00:00:01.089 000 [-] MulticastDns--:       _trel._udp.local.
00:00:01.089 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.

Next one ~2 seconds later

00:00:03.114 000 [-] MulticastDns--: Sending multicast query message len:71
00:00:03.114 000 [-] MulticastDns--: - Query id:0 qt:0 t:0 rcode:0 [q:1 ans:1 auth:0 addn:0]
00:00:03.114 000 [-] MulticastDns--: - Question
00:00:03.114 000 [-] MulticastDns--:     _trel._udp.local.
00:00:03.114 000 [-] MulticastDns--:       PTR QM class:1
00:00:03.114 000 [-] MulticastDns--: - Answer
00:00:03.114 000 [-] MulticastDns--:     PTR cls:1 ttl:4499 data-len:25
00:00:03.114 000 [-] MulticastDns--:       _trel._udp.local.
00:00:03.114 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.

~4 seconds later

00:00:07.169 000 [-] MulticastDns--: Sending multicast query message len:71
00:00:07.169 000 [-] MulticastDns--: - Query id:0 qt:0 t:0 rcode:0 [q:1 ans:1 auth:0 addn:0]
00:00:07.169 000 [-] MulticastDns--: - Question
00:00:07.169 000 [-] MulticastDns--:     _trel._udp.local.
00:00:07.169 000 [-] MulticastDns--:       PTR QM class:1
00:00:07.169 000 [-] MulticastDns--: - Answer
00:00:07.169 000 [-] MulticastDns--:     PTR cls:1 ttl:4497 data-len:25
00:00:07.169 000 [-] MulticastDns--:       _trel._udp.local.
00:00:07.169 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.

...
Much later


00:00:31.504 000 [-] MulticastDns--: Sending multicast query message len:71
00:00:31.504 000 [-] MulticastDns--: - Query id:0 qt:0 t:0 rcode:0 [q:1 ans:1 auth:0 addn:0]
00:00:31.504 000 [-] MulticastDns--: - Question
00:00:31.504 000 [-] MulticastDns--:     _trel._udp.local.
00:00:31.504 000 [-] MulticastDns--:       PTR QM class:1
00:00:31.504 000 [-] MulticastDns--: - Answer
00:00:31.504 000 [-] MulticastDns--:     PTR cls:1 ttl:4472 data-len:25
00:00:31.504 000 [-] MulticastDns--:       _trel._udp.local.
00:00:31.504 000 [-] MulticastDns--:       otTRELaad27e30eb186cb5._trel._udp.local.
```
