[mdns] default TTL for PTR/TXT records is 120 seconds, should be 75 minutes

**Describe the bug** A clear and concise description of what the bug is.
`mdns.cpp` uses a default TTL of 120 seconds for a "service" registration. Per RFC 6762 Section 10, the default is 120 seconds for the SRV record, but 75 minutes for others like a regular PTR record or a TXT record.
Only the reverse-lookup PTR records (which encode an IP address) have the short 120 seconds default, but these aren't used currently.

Specifically this shows with _meshcop._udp.local and _trel._udp.local PTR records that the BR offers by default.

This issue considers any type of non-proxied mDNS advertisements. (For proxied advertisements we have some IETF discussion result here: https://github.com/dnssd-wg/draft-ietf-dnssd-advertising-proxy/issues/6 )

This causes an mDNS query for PTR records for _trel._udp.local to be sent every ~96 sec. (80% of 120sec), causing a lot of traffic. Using the recommended value avoids that traffic, see Section 10 third paragraph of RFC 6762. The ongoing browse operation is only on the PTR records, not on the SRV records, so that the SRV records don't have to be refreshed by the BR routinely; and the PTR record needs to be refreshed much less often.

**To Reproduce** Information to reproduce the behavior, including:

Latest ot-reference-release OTBR: capture mDNS traffic.

**Expected behavior** A clear and concise description of what you expected to happen.

Expected is 75 mins TTL for the PTR and TXT records, and 120 sec for SRV records and A/AAAA records.

**Console/log output** If applicable, add console/log output to help explain your problem.

PCAP available if needed.

**Additional context** Add any other context about the problem here.

Note there's a related discussion in https://github.com/dnssd-wg/draft-ietf-dnssd-advertising-proxy/issues/6 to update the 120 seconds to 75 minutes for SRV/A/AAAA records as well, but that's future plans.

Thanks @EskoDijk .

Submitted:
- [https://github.com/openthread/openthread/pull/12086](https://github.com/openthread/openthread/pull/12086)

It changes the default TTL for all service-related records to 7500, which includes SRV. To me, it does not make sense to keep SRV as 120 when TXT and PTR for the same service are at 7500.

> Note there's a related discussion in [https://github.com/dnssd-wg/draft-ietf-dnssd-advertising-proxy/issues/6](https://github.com/dnssd-wg/draft-ietf-dnssd-advertising-proxy/issues/6) to update the 120 seconds to 75 minutes for SRV/A/AAAA records as well, but that's future plans.

If there is a strong justification for why SRV should be 120, I can add this as behavior in the code, but I don't want to spend time adding a feature that does not have any big impact, especially considering that there is a desire/discussion to change the default TTL for all to 7500.

> The ongoing browse operation is only on the PTR records, not on the SRV records, so that the SRV records don't have to be refreshed by the BR routinely; and the PTR record needs to be refreshed much less often.

For TREL, we will have a continuous PTR query (browse) and also for every discovered service instance we will have ongoing SRV and TXT queries (active `SrvResolver` and `TxtResolver`) to detect port number changes and/or TXT data changes. So a larger SRV TTL makes sense from that perspective as well.

> Therefore, when retransmitting Multicast DNS queries to implement
> this kind of continuous monitoring, the interval between the first
> two queries MUST be at least one second, the intervals between
> successive queries MUST increase by at least a factor of two, and the
> querier MUST implement Known-Answer Suppression,

The native OT mDNS code implements all of this logic. It should retry the initial query, and it uses a one-second interval between the first two initial queries (`kInitialQueryInterval`), then doubles the wait time between retries, and does this up to `kNumberOfInitialQueries` (which is set to 3). We validate this behavior (and the timing) in the unit test for all query types, e.g., here is the test for browser:

https://github.com/openthread/openthread/blob/9190f961f63c67d73eb3f26c4a6d6b9478cbcdd8/tests/unit/test_mdns.cpp#L5879-L5908


The Known-Answer Suppression is also implemented and supported and should be validated by the tests:

[https://github.com/openthread/openthread/blob/9190f961f63c67d73eb3f26c4a6d6b9478cbcdd8/tests/unit/test_mdns.cpp#L6174-L6223](https://github.com/openthread/openthread/blob/9190f961f63c67d73eb3f26c4a6d6b9478cbcdd8/tests/unit/test_mdns.cpp#L6174-L6223)

----

> > This will initially cause more queries at startup, with an exponential decrease. I didn't see the OTBR doing this type of querying: it just sent a single query message, and the next one ~96-98 sec later.

This should not be the case. If we see this, let me know. We may need to investigate.

Regarding `kNumberOfInitialQueries`, it is set to 3. We can consider increasing it to 5 or larger values. I don't think it matters much but open to changing it. Thoughts?

[ietf124_test6_filt.zip](https://github.com/user-attachments/files/23286366/ietf124_test6_filt.zip)
[syslog_br3_case6.zip](https://github.com/user-attachments/files/23286367/syslog_br3_case6.zip)

@abtink I've attached the log/pcap now; and updated the description post/entry with some analysis of the pcap and log. This is only for the simplest case; if needed I can explore more cases with e.g. multiple BRs or with an IPv6 router on the link. But I thought it would be good to first understand this basic case.

Thanks @EskoDijk.

The choice of sending a fixed number of initial queries is intentional in the OT implementation. I did investigate other DNS implementations before starting OT mDNS and noticed some have the same limited initial query attempts. I opted for it to be a constant `kNumberOfInitialQueries`, which is set to 3.

The timing of queries, at least 1 second and then doubling, follows the RFC requirement. These are a MUST in the RFC. The rest (like sending up to 1 hour) does not seem to be a MUST.

Changing it to send continuously (for a shared record type) and cap the delay at 1 hour sounds fine to me, but it is practically a new feature/behavior to add and implement.

I am not sure how easy it would be to implement this. The easier approach would be to change the `kNumberOfInitialQueries`. I will check the code later, but I don't know if I will have the time to do this.

See PR #12092 for some related discussion on the expected continuous querying behavior for cases where multiple devices (BRs) on the link do this.
* If all OpenThread based mDNS stacks, and if started at the same time (e.g. after a power cycle), their query times would be highly correlated. (Even after some hours)
* mDNS has a feature to avoid this: "Duplicate Question Suppression" 
* it was remarked on the IETF dnssd mailing list that the 20-120 ms jitter on the initial query only may be too low for modern Wi-Fi multicast - would cause most queries to be lumped together in the same time instant i.e. next DTIM beacon which is every 100 ms, (or 200, 300).
* also it was remarked that the initial 1 sec timeout is somewhat on the low side. (It's a minimum: so we can go higher if we want.)

Simplest solution would be (assuming that Duplicate Question Suppression is not implemented?) to avoid multicast queries potentially close together is to add a small random jitter to either the initial delay period only (currently 1 sec), or each time a doubling is done - double period plus add a small random jitter e.g. between [0, 1/32rd] of the period time.