[coap] client Block2 option M flag value for blockwise GET must be set to '0'

**Describe the bug** A clear and concise description of what the bug is.

Issue was first raised in a comment: https://github.com/openthread/openthread/pull/12098#issuecomment-3522127016

For a blockwise GET request, the CoAP client in some cases sets the value of the M flag wrong.

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id
2. IEEE 802.15.4 hardware platform
3. Build steps
4. Network topology

**Expected behavior** A clear and concise description of what you expected to happen.

Per Section 2.3 of RFC 7959:

```
A Block2 Option in control usage in a request (e.g., GET):

      *  The NUM field in the Block2 Option gives the block number of
         the payload that is being requested to be returned in the
         response.

      *  In this case, the M bit has no function and MUST be set to
         zero.
```

**Console/log output** If applicable, add console/log output to help explain your problem.

**Additional context** Add any other context about the problem here.
