DNS / DNS-SD server refuses to process certain queries

**Describe the bug** A clear and concise description of what the bug is.
Some types of DNS `resolve4` queries are not processed correctly by the DNS / DNS-SD server. It returns RCode 4 (Not Implemented). 

Domain examples that have the issue:
* ipv4only.arpa
* iotconsultancy.default.service.arpa
* myrouter.default.service.arpa

**To Reproduce** Information to reproduce the behavior, including:

1. Git commit id:  using ot-reference-release BR build
2. IEEE 802.15.4 hardware platform: Raspberry Pi + Nordic NRF52840 dongle
3. Build steps: using ot-reference-release BR build
4. Network topology: BR (attached to home network) + one FTD Router (doing the DNS query)

Command on Thread Router:

```
ot dns resolve4 ipv4only.arpa

DNS response for ipv4only.arpa. -


Error 12: NotImplemented
```

**Expected behavior** A clear and concise description of what you expected to happen.
For `ipv4only.arpa` the expected output is an NxDomain response (RCode=3). (Thread spec 9.7.3.1)
For names with `<name>.default.service.arpa` the expected output is the NAT64 IPv6 address of the related "<name>.local" mDNS IPv4 hostname as discovered by the Discovery Proxy earlier on, or discovered at the moment of querying.  Since NAT64 access also aims to access hosts on the local home network via IPv4. Current cert tests rely on this to work for a DUT. (If any reason not to support this explicitly, we should discuss.)

**Console/log output** If applicable, add console/log output to help explain your problem.
(Can be added if needed)

**Additional context** Add any other context about the problem here.
RFC 8766 Section 8 defines this expected behavior as well:

```
At present, it is RECOMMENDED that a Discovery Proxy be configured
with a single domain name for both the IPv4 and IPv6 ".local." zones
on the local link, and when a unicast query is received, it should
issue Multicast DNS queries using both IPv4 and IPv6 on the local
link and then combine the results
```


@EskoDijk, I expect this to work properly on the current OT `main` branch.

My guess is that the OTBR build might be an older version. Specifically, it might be missing the following PRs:

- [https://github.com/openthread/openthread/pull/10364](https://github.com/openthread/openthread/pull/10364)
- [https://github.com/openthread/openthread/pull/9349](https://github.com/openthread/openthread/pull/9349)

A quick way to check this could be to try `dns resolve ipv4only.arpa` instead of `resolve4`.

---------

I did a quick test of this in simulation and observed a `NameError` (rcode 3) in the generated response.

Here is a breakdown of this in the code:

Assuming `OPENTHREAD_CONFIG_DNS_UPSTREAM_QUERY_ENABLE` is enabled (which is the recursive resolver feature), then in `Server::ProcessQuery(Request &aRequest)` we have:

```c++
    if (mEnableUpstreamQuery && ShouldForwardToUpstream(aRequest))
    {
        Error error = ResolveByUpstream(aRequest);

        ...
```

The `ShouldForwardToUpstream()` function will forward any query with a name that does not use the "default.service.arpa." domain to the upstream (platform layer to process).

```c++
bool Server::ShouldForwardToUpstream(const Request &aRequest)
{
    bool          shouldForward = false;
    uint16_t      readOffset;
    Name::Buffer name;

    VerifyOrExit(aRequest.mHeader.IsRecursionDesiredFlagSet());
    readOffset = sizeof(Header);

    for (uint16_t i = 0; i < aRequest.mHeader.GetQuestionCount(); i++)
    {
        SuccessOrExit(Name::ReadName(*aRequest.mMessage, readOffset, name));
        readOffset += sizeof(Question);

        VerifyOrExit(!Name::IsSubDomainOf(name, kDefaultDomainName));

        for (const char *blockedDomain : kBlockedDomains)
        {
            VerifyOrExit(!Name::IsSameDomain(name, blockedDomain));
        }
    }

    shouldForward = true;

exit:
    return shouldForward;
}
```

There is an explicit check here where certain domains are blocked in `kBlockedDomains`, which is defined as: 
```c++
const char *Server::kBlockedDomains[] = {"ipv4only.arpa."};
```

(As an optimization, I think we could immediately update `rcode` and return if the name matches any blocked domain).

So for "ipv4only.arpa.", the `ShouldForwardToUpstream()` function would return `false`, and we continue within `ProcessQuery()` and perform the following checks to validate the questions and query names:

```c++
    SuccessOrExit(rcode = aRequest.ParseQuestions(mTestMode, shouldRespond));
    SuccessOrExit(rcode = response.AddQuestionsFrom(aRequest));
```

In `AddQuestionsFrom()`, we validate that the query name uses the "default.service.arpa." domain:

```c++

    // Check the name to include the correct domain name and determine
    // the domain name offset (for DNS name compression).

    VerifyOrExit(ParseQueryName() == kErrorNone, rcode = Header::kResponseNameError);
```

Otherwise, `rcode = Header::kResponseNameError` (value 3) is returned.


@abtink Thanks, indeed my BR build is using: `OPENTHREAD/5edc3673f; POSIX;` which just misses these PRs. I'll build now the latest reference OTBR - I expect the issue to be resolved by that.

@abtink Now tried with the newer OTBR reference build - the original issue is gone now. However, a new issue pops up: when sending a A record query like

```
dns resolve4 myhostname.default.service.arpa
```

Then the BR Discovery Proxy will send an mDNS AAAA record query on the AIL, for that name. This should be an A record query. This might be a reason that the test step still fails even with a newer build.

* If the mDNS 'AAAA' query does not return any response, the DNS server will also return 0 answers to the 'A' query.
* If the mDNS 'AAAA' query does return a response (one or more AAAA records), the DNS server will not use this information (as expected).

So the query response has always 0 answer records. So we would expect the Discovery Proxy to handle any type of DNS records including A, but also others.


@abtink Thanks for the explanation! Besides A or AAAA queries, there could also be many other types of queries on local names and 'remote' names as well. The DNS server currently returns 'not implemented' status for these RRTypes, if performed on a local name. While the Discovery Proxy RFC (I believe) does not distinguish between RRTypes and just supports translation for all RTypes, just like mDNS supports all RRTypes also. That is, the standards prescribe that the resolver/DP are agnostic to RRTypes - even process ones they don't know. 

Now because it's not implemented currently returning 'not implemented' is the best response I agree. I'll create a SPEC issue in Thread to discuss how we like to deal with other RRTypes now for 1.4, and local queries for A records, because there's no clear use case for them now (e.g. Matter devices will all have AAAA records). 

If we're going to do some implementation work on the BR for this, we should (if that's also the outcome of the SPEC jira)  take into account *any* RRType, not just A/AAAA. It's possible to test any RRType in the DNS client CLI by commands like:
```udp send fd00:abba:0:0:d625:16fe:319c:ab48 53 -x 69f501000001000000000000086d79726f757465720764656661756c740773657276696365046172706100001b0001```

@abtink The outcome of SPEC-1329 is (I think!) that we want to support arbitrary DNS record types (QTypes) in queries that run via Discovery Proxy.  And we can use some time (e.g. 1 year) to make the API transition. So I propose to keep this issue open to track that. We have to assign someone (it could even be me if you want, or yourself if you prefer)

@EskoDijk Sounds good. There are a bunch of different pieces to support this due to different possible configurations of the discovery proxy function (delegated to the platform or use native implementation within OT core).

I can take care of adding this for the "native" discovery proxy approach (and/or in the native mDNS implementation in OpenThread) when I have some free cycles (it won't be high on my list of tasks though as I dont think there are any immediate use-cases that would require this).

@jwhui or @abtink : to assign this issue to Abtin, per discussion.

Some related PRs: 
- #11288
- #11357 
- #11359
- #11364


I have implemented everything related to this within the OpenThread core modules (some of the relevant PRs are listed above, more related PRs are tracked in https://github.com/openthread/openthread/issues/11471)

_However, I want to highlight that depending on the architecture and configuration used, additional platform-specific work (e.g., in `ot-br-posix`) may be needed._

#### A) OpenThread Core provides Discovery Proxy function:
This is controlled by the `OPENTHREAD_CONFIG_DNSSD_DISCOVERY_PROXY_ENABLE`.
- If this is used with the OT native mDNS implementation (`OPENTHREAD_CONFIG_MULTICAST_DNS_ENABLE`), then everything is fully implemented and functional (and tested).
- If the platform provides the mDNS function (`OPENTHREAD_CONFIG_PLATFORM_DNSSD_ENABLE`), platform-side work will be needed to implement and provide the [new `otPlatDnssd` platform APIs for arbitrary record queries](https://github.com/openthread/openthread/blob/9c482336ba7fc12ef19df53033541aa43b93e3d3/include/openthread/platform/dnssd.h#L755-L794). These APIs will need to be mapped to the mDNS library used by the platform.

#### B) Platform provides Discovery Proxy function:
This is the common and current deployment model, which we intend to move away from:
- In this configuration, none of these features are implemented or supported.

-----

This issue can now be closed. However, as highlighted above, further platform-specific work may be necessary depending on the deployment setup.

ccing: @EskoDijk , @librasungirl 

@abtink @librasungirl Sorry for the bit late reply.

The OTBR reference release, used for cert testing and also used to create OTBR implementations from, does indeed use the Discovery Proxy implementation from OTBR (`-DOTBR_DNSSD_DISCOVERY_PROXY=ON` and `-DOTBR_SRP_ADVERTISING_PROXY=ON`) , not the one from OT core. To be raised in test discussions: could we switch to the OT core implementation here?

I tested using my early June build of OTBR-reference, and there the query `dns resolve4 myrouter.default.service.arpa` is received, turned into a AAAA query for `myrouter.local` , address record A is found, and then the BR responds RCode=0 with 0 answer records (as none of the returned AAAA records are type A ). 

I didn't test the `dns query` command yet, because it wasn't included in my reference build. (I'll try to find out why - maybe just too old.)

Updates:
1. I've now tried an OTBR build with OT-core implementation of DiscProxy and AdvProxy. I created an issue based on its behavior, see https://github.com/openthread/openthread/issues/11674 . This behavior I'd like to understand first before moving further with the DNS testing.
2. I see also that the `dns query` command is not available in my FTD reference-release build, because it uses an older source i.e. a commit selected for the NCS official release. (To look later at doing a custom build.)
3. Any further discussion can happen in newer issues, as this one is closed already. For completeness I'll post links to the new issue(s) here.